#map {
  height: 400px;
  width: 100%;
}

.map-container {
  display: flex;
  justify-content: center;
}

.contact-container {
  background-color: #212529;
  padding: 20px;
  border-radius: 8px;
}

.btn {
  margin: 10px;
  padding: 10px 20px;
}
