<app-header></app-header>
<div class="container text-white mt-5">
  <div class="form-title">
    <h1 class="text-center">¿Quieres entrenar?</h1>
    <address>
      Carrer del guix 8 - 08800 - Vilanova i la Geltrú <br />
      Estamos abiertos de lunes a jueves desde las 7.00 hasta las 21.30 <br />
      el viernes desde las 7.00 hasta las 20.15 <br />
      el sábado desde las 8.45 hasta las 11.45
    </address>
    <div class="map-container mt-4">
      <div id="map"></div>
    </div>
  </div>
</div>
<div class="contact-container text-center mt-5 text-white">
  <h2>¿Tienes alguna duda?</h2>
  <p>Puedes contactarnos por teléfono o WhatsApp:</p>
  <p>
    <a href="tel:+34673597175" class="btn btn-outline-light"> Llamar ahora</a>
    <a
      href="https://wa.me/+34673597175"
      target="_blank"
      class="btn btn-outline-success"
      >WhatsApp</a
    >
  </p>
</div>
