<app-header></app-header>
<main class="team-section text-center my-5">
  <section class="bg-image p-5 rounded mb-5" aria-labelledby="team-heading">
    <h2 id="team-heading " class="mb-4">CONOCE A NUESTRO EQUIPO</h2>
    <p class="mb-5 text-white">
      Descubre a las personas detrás de nuestro éxito. Nuestro equipo dedicado
      trabaja incansablemente para ofrecerte la mejor experiencia posible.
    </p>
  </section>

  <section class="container" aria-labelledby="members-heading">
    <h3 id="members-heading" class="sr-only">Team Members</h3>
    <div class="row">
      <!-- Team Member 1 -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img
            class="card-img-top"
            src="/assets/images/fotos-clases/CrossFitVNG_Inaguracion-285.webp"
            alt="John Doe - CEO & Founder"
          />
          <div class="card-body">
            <h5 class="card-title">John Doe</h5>
            <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem
              optio asperiores molestias recusandae! Laboriosam ipsa culpa, sint
              dicta ex non veritatis, aut accusantium voluptates esse
              necessitatibus a corporis quos repellendus!r
            </p>
          </div>
        </div>
      </div>
      <!-- Team Member 2 -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img
            class="card-img-top"
            src="/assets/images/fotos-clases/CrossFitVNG_Inaguracion-285.webp"
            alt="Jane Smith - Chief Technology Officer"
          />
          <div class="card-body">
            <h5 class="card-title">Jane Smith</h5>
            <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem
              optio asperiores molestias recusandae! Laboriosam ipsa culpa, sint
              dicta ex non veritatis, aut accusantium voluptates esse
              necessitatibus a corporis quos repellendus!r
            </p>
          </div>
        </div>
      </div>
      <!-- Team Member 3 -->
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <img
            class="card-img-top"
            src="/assets/images/fotos-clases/CrossFitVNG_Inaguracion-285.webp"
            alt="Emma Wilson - Head of Marketing"
          />
          <div class="card-body">
            <h5 class="card-title">Emma Wilson</h5>
            <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem
              optio asperiores molestias recusandae! Laboriosam ipsa culpa, sint
              dicta ex non veritatis, aut accusantium voluptates esse
              necessitatibus a corporis quos repellendus!r
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
