.team-section .bg-image {
  position: relative;
  height: 400px;
  background-image: url("/assets/images/whatsapp/coaches.webp");
  background-size: cover;
  background-position: center;
}

.team-section .bg-image::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.bg-image h2 {
  position: relative;
  //font-size: 20px;
  z-index: 2;
}

.bg-image p {
  position: relative;
  font-size: 20px;
  z-index: 2;
}

.team-section .card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.team-section .card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
