<app-header></app-header>

<div class="container mt-5">
  <div class="py-3 rates-title-container text-center">
    <h2>NUESTRAS TARIFAS</h2>
    <p class="text-white">
      Organiza tus clases a lo largo del mes según tus preferencias. Cada
      semana, puedes inscribirte en un número determinado de clases, dentro del
      límite mensual establecido por tu tarifa. Tienes hasta una hora antes de
      la clase para cancelar la reserva sin perder ese crédito.
    </p>
  </div>
  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let rate of rates">
      <div class="card">
        <div class="card-header">{{ rate.name }}</div>
        <div class="card-price">
          {{ rate.price }}
          <span class="card-subtext">{{ rate.subtext }}</span>
        </div>
        <ul class="features">
          <li *ngFor="let feature of rate.features">
            <i class="fa-solid fa-check" style="color: #11ff00"></i>
            {{ feature }}
          </li>
        </ul>
        <button
          class="btn btn-block"
          [routerLink]="['/registro-nuevo-cliente']"
        >
          ¡Apúntate!
        </button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
