<app-header></app-header>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let rate of rates">
      <div class="card">
        <div class="card-header">{{ rate.name }}</div>
        <div class="card-price">
          {{ rate.price }}
          <span class="card-subtext">{{ rate.subtext }}</span>
        </div>
        <ul class="features">
          <li *ngFor="let feature of rate.features">
            <i class="fa-solid fa-check" style="color: #11ff00"></i>
            {{ feature }}
          </li>
        </ul>
        <button
          class="btn btn-block"
          [routerLink]="['/registro-nuevo-cliente']"
        >
          ¡Apúntate!
        </button>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
