<app-header></app-header>

<div class="container">
  <h1 class="text-center">Nuestra Tarifas</h1>
  <div class="row row-cols-1 row-cols-lg-5 mb-3 text-center">
    <!-- Each card in a column; 5 columns on large screens -->
    <div class="col">
      <div class="card my-3 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Bronze</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            54 eur<small class="text-muted fw-light">/mes</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>5 clases + 2 Open box</li>
          </ul>
          <button type="button" class="w-100 btn btn-outline-primary">
            Sign up for free
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card my-3 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Silver</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            66 eur<small class="text-muted fw-light">/mes</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>9 clases + 4 Open Box</li>
          </ul>
          <button type="button" class="w-100 btn btn-outline-primary">
            Sign up for free
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card my-3 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Gold</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            82 eur<small class="text-muted fw-light">/mes</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>13 clases + 6 Open Box</li>
          </ul>
          <button type="button" class="w-100 btn btn-outline-primary">
            Sign up for free
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card my-3 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Platinum</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            96 eur<small class="text-muted fw-light">/mes</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>17 clases + 8 Open Box</li>
          </ul>
          <button type="button" class="w-100 btn btn-outline-primary">
            Sign up for free
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card my-3 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Diamond</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            104 eur<small class="text-muted fw-light">/mes</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>17 clases + 8 Open Box</li>
          </ul>
          <button type="button" class="w-100 btn btn-outline-primary">
            Sign up for free
          </button>
        </div>
      </div>
    </div>
    <!-- bonos -->
    <div class="col">
      <div class="card my-3 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Bono 110</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            110 eur<small class="text-muted fw-light">/mes</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>10 clases / Open Box</li>
          </ul>
          <button type="button" class="w-100 btn btn-outline-primary">
            Sign up for free
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card my-3 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Bono 65</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            65 eur<small class="text-muted fw-light">/mes</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>5 clases / Open Box</li>
          </ul>
          <button type="button" class="w-100 btn btn-outline-primary">
            Sign up for free
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card my-3 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Drop in</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            16 eur<small class="text-muted fw-light">/mes</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>1 clase</li>
          </ul>
          <button type="button" class="w-100 btn btn-outline-primary">
            Sign up for free
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card my-3 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Drop in</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            12 eur<small class="text-muted fw-light">/mes</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>1 Open box</li>
          </ul>
          <button type="button" class="w-100 btn btn-outline-primary">
            Sign up for free
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card my-3 rounded-3 shadow-sm">
        <div class="card-header py-3">
          <h4 class="my-0 fw-normal">Kids</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            40 eur<small class="text-muted fw-light">/mes</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4"></ul>

          <button type="button" class="w-100 btn btn-outline-primary">
            Sign up for free
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
