.container {
  // Removed flex properties to better integrate with Bootstrap's grid
  margin-top: 20px; // Optional: Add some top margin if needed
}

.card {
  background-color: #111;
  color: #fff;
  font-size: 16px;
  max-width: 100%; // Ensures card does not exceed the column width
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px; // Reduced margin for better space management in a grid layout

  @media (min-width: 768px) {
    width: auto; // Allows Bootstrap to control the width in grid columns
  }
}

.card-header {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
}

.card-price {
  font-size: 2.5em;
  text-align: center;
}

.card-subtext {
  display: block;
  font-size: 0.4em;
  margin-top: 5px;
}

.features {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.features li {
  background-color: #222;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.btn {
  background-color: #444;
  color: white;
  border: none;
  padding: 10px 20px;
  width: 100%;
  text-align: center;
  display: block;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;

  &:hover {
    background-color: #555;
  }
}
