$primary-color: #000;
$secondary-color: #b11f2a;
$white: #ffffff;

.link-highlighted {
  color: var(--secondary-color) !important;
}

.crossfit-logo {
  height: 80px;
  width: 100px;
  border-radius: 50%;
}

nav {
  background-color: $primary-color;
}

a {
  font-size: 20px;
}

a:hover {
  color: $secondary-color;
}
