<app-header></app-header>
<div class="bg-dark min-vh-100">
  <!-- antes era asi: class="d-flex bg-dark flex-column min-vh-100" -->

  <div class="container video-container text-white">
    <h1 class="my-5">
      Empieza tu viaje hacia un estilo de vida más fuerte hoy
    </h1>
    <iframe
      width="100%"
      height="500"
      src="https://www.youtube.com/embed/JQjWT7HOqwY?si=DVf_pMi4F2KZQYAJ"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>

  <div class="container">
    <div class="content-section">
      <h3 class="content-title">Crossfit desde cero</h3>
      <p class="content-text">
        No necesitas ninguna experiencia previa. Con nosotros obtendrás las
        bases para afrontar cualquier entrenamiento aprendiendo la técnica,
        trabajando la fuerza y aplicando intensidad.
      </p>
    </div>
    <div class="content-section">
      <h3 class="content-title">100% guiado</h3>
      <p class="content-text">
        Nuestras clases son guiadas y dirigidas por uno o dos entrenadores. te
        ayudaremos, enseñaremos, corregiremos y motivaremos cada día para que
        saques lo mejor de ti.
      </p>
    </div>

    <div class="content-section">
      <h3 class="content-title">Para todo el mundo</h3>
      <p class="content-text">
        Todo el mundo puede practicar crossfit independientemente de su edad,
        experiencia previa en el deporte o condición física. cualquier
        movimiento y entrenamiento es adaptable y escalable, solo necesitas
        ganas.
      </p>
    </div>

    <div class="content-section">
      <h3 class="content-title">Programación propia</h3>
      <p class="content-text">
        Contamos con una programación propia que se ha creado en función de las
        necesidades de nuestros atletas. de esta forma controlamos y readaptamos
        cada ciclo con el objetivo de mejorar el rendimiento de nuestros
        atletas.
      </p>
    </div>

    <div class="content-section">
      <h3 class="content-title">Comunidad y Familia</h3>
      <p class="content-text">
        Si algo nos caracteriza y nos hace especiales es nuestra comunidad de
        atletas. aquí todos somos iguales y formamos una gran familia, donde,
        como dice nuestro lema, “no deixem ningu enrere!”
      </p>
    </div>
  </div>
  <main class="flex-fill">
    <app-classes-slider></app-classes-slider>
    <app-timetable></app-timetable>
  </main>
</div>
<app-footer></app-footer>
