.modal-dialog {
  color: white;
}
h2{
  font-size: 30px;
}



.modal-content {
  background-color: #383d42;
}

.error-input {
  border-left: 5px solid red;
}

.error-label {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.error-label strong {
  margin-left: 5px;
}

.error-icon {
  margin-right: 5px;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.btn-outline-danger.pulse {
  animation: pulse 1.5s infinite;
}
