.modal-dialog {
  color: white;
}

h2 {
  font-size: 30px;
}

.modal-content {
  background-color: #383d42;
  padding: 20px; /* Added padding for better spacing */
  border-radius: 10px; /* Rounded corners for a modern look */
}

.error-input {
  outline: 3px solid red;
}

.error-label {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.error-label strong {
  margin-left: 5px;
}

.error-icon {
  margin-right: 5px;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.btn-outline-danger.pulse {
  animation: pulse 1.5s infinite;
}

/* Additional Styles for better UI */
.form-control,
.form-select,
.form-check-input {
  border-radius: 5px;
}

.form-check-label {
  margin-left: 10px;
}

label {
  margin-top: 10px;
}

.modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.radio-buttons-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: flex-start;
}

/* Styles for better radio button spacing */
.form-check {
  margin-top: 10px;
}

.form-check-input {
  margin-top: 13px;
}

/* Mobile-first styles */
@media (max-width: 767px) {
  .modal-dialog {
    margin: 20px auto;
  }

  .modal-content {
    padding: 15px;
  }

  .modal-header {
    padding: 10px 15px;
  }

  h2 {
    font-size: 24px;
  }

  .modal-footer {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
