<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-lg btn-outline-danger pulse"
  data-bs-toggle="modal"
  data-bs-target="#exampleModal"
>
  PRUEBA UNA CLASE GRATUITA
</button>

<!-- Modal -->
<div
  class="modal fade text-white"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <!-- Standard size for mobile-first approach -->
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="exampleModalLabel">CLASE DE PRUEBA</h2>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <!-- Modal Body with Contact Form -->
      <div class="modal-body">
        <form [formGroup]="contactForm" (ngSubmit)="sendToWhatsApp()">
          <div class="mb-3">
            <input
              type="text"
              formControlName="firstName"
              class="form-control"
              placeholder="Nombre"
              [ngClass]="{
                'error-input':
                  contactForm.get('firstName')?.invalid &&
                  contactForm.get('firstName')?.touched
              }"
            />
            <!-- Validators for firstName -->
            <div
              *ngIf="contactForm.get('firstName')?.touched"
              class="error-label fade-in"
            >
              <span
                *ngIf="contactForm.get('firstName')?.hasError('required')"
                class="text-danger"
              >
                <i class="error-icon fa-solid fa-exclamation-circle"></i>
                Campo
                <strong>requerido</strong>
              </span>
              <span
                *ngIf="contactForm.get('firstName')?.hasError('minlength')"
                class="text-warning"
              >
                <i class="error-icon fa-solid fa-exclamation-triangle"></i>
                Este campo tiene que tener mínimo
                <strong>4 caracteres</strong>
              </span>
            </div>
          </div>
          <div class="mb-3">
            <input
              type="text"
              formControlName="lastName"
              class="form-control"
              placeholder="Apellido"
              [ngClass]="{
                'error-input':
                  contactForm.get('lastName')?.invalid &&
                  contactForm.get('lastName')?.touched
              }"
            />
            <!-- Validators for lastName -->
            <div
              *ngIf="contactForm.get('lastName')?.touched"
              class="error-label fade-in"
            >
              <span
                *ngIf="contactForm.get('lastName')?.hasError('required')"
                class="text-danger"
              >
                <i class="error-icon fa-solid fa-exclamation-circle"></i>
                Campo
                <strong>requerido</strong>
              </span>
              <span
                *ngIf="contactForm.get('lastName')?.hasError('minlength')"
                class="text-warning"
              >
                <i class="error-icon fa-solid fa-exclamation-triangle"></i>
                Este campo tiene que tener mínimo
                <strong>4 caracteres</strong>
              </span>
            </div>
          </div>
          <div class="mb-3">
            <input
              type="email"
              formControlName="email"
              class="form-control"
              placeholder="Correo electrónico"
              [ngClass]="{
                'error-input':
                  contactForm.get('email')?.invalid &&
                  contactForm.get('email')?.touched
              }"
            />
            <!-- Validators for email -->
            <div
              *ngIf="contactForm.get('email')?.touched"
              class="error-label fade-in"
            >
              <span
                *ngIf="contactForm.get('email')?.hasError('required')"
                class="text-danger"
              >
                <i class="error-icon fa-solid fa-exclamation-circle"></i>
                Campo
                <strong>requerido</strong>
              </span>
              <span
                *ngIf="contactForm.get('email')?.hasError('email')"
                class="text-warning"
              >
                <i class="error-icon fa-solid fa-exclamation-triangle"></i>
                correo
                <strong>no valido</strong>
              </span>
            </div>
          </div>
          <div class="mb-3">
            <input
              type="tel"
              formControlName="phone"
              class="form-control"
              placeholder="Número de teléfono"
              [ngClass]="{
                'error-input':
                  contactForm.get('phone')?.invalid &&
                  contactForm.get('phone')?.touched
              }"
            />
            <!-- Validators for phone -->
            <div
              *ngIf="contactForm.get('phone')?.touched"
              class="error-label fade-in"
            >
              <span
                *ngIf="contactForm.get('phone')?.hasError('required')"
                class="text-danger"
              >
                <i class="error-icon fa-solid fa-exclamation-circle"></i>
                Campo
                <strong>requerido</strong>
              </span>
              <span
                *ngIf="contactForm.get('phone')?.hasError('minlength')"
                class="text-warning"
              >
                <i class="error-icon fa-solid fa-exclamation-triangle"></i>
                Este campo tiene que tener mínimo
                <strong>9 caracteres</strong>
              </span>
              <span
                *ngIf="contactForm.get('phone')?.hasError('pattern')"
                class="text-danger"
              >
                <i class="error-icon fa-solid fa-exclamation-circle"></i>
                Número de teléfono <strong>no válido</strong>
              </span>
            </div>
          </div>
          <div class="mb-3">
            <label for="dropdown" class="mb-2"
              >¿QUE CLASE QUIERES PROBAR?</label
            >
            <select
              formControlName="dropdown"
              id="dropdown"
              class="form-select"
            >
              <option value="" disabled selected>Seleccionar</option>
              <option value="Crossfit">Crossfit</option>
              <option value="StrengthConditioning ">
                Strength and Conditioning
              </option>
              <option value="Halterofilia">Halterofilia</option>
              <option value="Gymnastics">Gymnastics</option>
              <option value="Endurance">Endurance</option>
              <option value="Basics">Basics</option>
              <option value="Mobility">Mobility</option>
              <option value="Pilates">Pilates HIIT</option>
              <option value="Pilates">Kids</option>
            </select>
            <!-- Validators for dropdown -->
            <div
              *ngIf="contactForm.get('dropdown')?.touched"
              class="error-label fade-in"
            >
              <span
                *ngIf="contactForm.get('dropdown')?.hasError('required')"
                class="text-danger"
              >
                <i class="error-icon fa-solid fa-exclamation-circle"></i>
                Campo
                <strong>requerido</strong>
              </span>
            </div>
          </div>
          <div class="mb-3">
            <label for="radioButtons">EXPERIENCIA PREVIA</label>
            <div class="radio-buttons-container">
              <div class="form-check" id="radioButtons">
                <input
                  class="form-check-input"
                  type="radio"
                  name="experiencia"
                  id="sinExperiencia"
                  formControlName="experiencia"
                  value="sinExperiencia"
                />
                <label class="form-check-label" for="sinExperiencia"
                  >Sin experiencia</label
                >
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="experiencia"
                  id="conExperiencia"
                  formControlName="experiencia"
                  value="conExperiencia"
                />
                <label class="form-check-label" for="conExperiencia"
                  >He entrenado CrossFit 3 meses o más</label
                >
              </div>
            </div>

            <!-- Validators for radio buttons -->
            <div
              *ngIf="contactForm.get('experiencia')?.touched"
              class="error-label fade-in"
            >
              <span
                *ngIf="contactForm.get('experiencia')?.hasError('required')"
                class="text-danger"
              >
                <i class="error-icon fa-solid fa-exclamation-circle"></i>
                Campo
                <strong>requerido</strong>
              </span>
            </div>
          </div>
          <div class="mb-3">
            <label for="textBox" class="mb-2"
              >¿QUÉ DÍA Y A QUÉ HORA QUIERES HACER LA PRUEBA?</label
            >
            <textarea
              formControlName="textBox"
              name="text"
              id="textBox"
              placeholder="indicar fecha y horario de la clase"
              style="height: 50px; width: 100%; border-radius: 5px"
              [ngClass]="{
                'error-input':
                  contactForm.get('textBox')?.invalid &&
                  contactForm.get('textBox')?.touched
              }"
            ></textarea>
            <!-- Validators for textBox -->
            <div
              *ngIf="contactForm.get('textBox')?.touched"
              class="error-label fade-in"
            >
              <span
                *ngIf="contactForm.get('textBox')?.hasError('required')"
                class="text-danger"
              >
                <i class="error-icon fa-solid fa-exclamation-circle"></i>
                Campo
                <strong>requerido</strong>
              </span>
              <span
                *ngIf="contactForm.get('textBox')?.hasError('minlength')"
                class="text-warning"
              >
                <i class="error-icon fa-solid fa-exclamation-triangle"></i>
                Este campo tiene que tener mínimo
                <strong>9 caracteres</strong>
              </span>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="submit"
              class="btn btn-success w-100"
              [disabled]="!contactForm.valid"
            >
              Enviar por WhatsApp
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
