.container{
  color: var(--white);
}

.logo-form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 80px;
}

.logo-form-img {
  height: 225px;
  width: 225px;
  border-radius: 50%;
}
