<app-header></app-header>
<div class="container logo-form-container pt-5">
  <img
    src="/assets/images/Logo Crossfit-VNG-2.webp"
    alt="logo crossfit vng vilanova i la geltru"
    class="logo-form-img"
  />
  <div class="company-details">
    <p>CROSSFIT VNG S.L Z123456789</p>
    <p>Carrer del Guix 8</p>
    <p>08800 - Vilanova i la geltrú</p>
  </div>
</div>
<div class="container mt-4">
  <form
    [formGroup]="contactForm"
    action="javascript:void(0)"
    (submit)="send()"
    class="row g-3"
  >
    <h1>Ficha Cliente</h1>
    <div class="col-md-6">
      <label for="firstName" class="form-label">Nombre <span>*</span> </label>
      <input
        type="text"
        id="firstName"
        class="form-control"
        formControlName="firstName"
      />
      <div *ngIf="contactForm.get('firstName')?.touched">
        <span
          *ngIf="contactForm.get('firstName')?.hasError('required')"
          class="text-danger error-label"
        >
          Campo <strong>requerido</strong>
        </span>
        <span
          *ngIf="contactForm.get('firstName')?.hasError('minlength')"
          class="text-danger error-label"
        >
          Este campo tiene que tener minimo <strong>4 digits</strong>
        </span>
      </div>
    </div>

    <div class="col-md-6">
      <label for="lastName" class="form-label">Apellido <span>*</span> </label>
      <input
        type="text"
        id="lastName"
        class="form-control"
        formControlName="lastName"
      />
      <div *ngIf="contactForm.get('lastName')?.touched">
        <span
          *ngIf="contactForm.get('lastName')?.hasError('required')"
          class="text-danger error-label"
        >
          Campo <strong>requerido</strong>
        </span>
        <span
          *ngIf="contactForm.get('lastName')?.hasError('minlength')"
          class="text-danger error-label"
        >
          Este campo tiene que tener minimo <strong>4 digits</strong>
        </span>
      </div>
    </div>
    <div class="col-md-6">
      <label for="dob" class="form-label"
        >Fecha de nacimiento <span>*</span>
      </label>
      <input type="date" id="dob" class="form-control" formControlName="dob" />
      <div *ngIf="contactForm.get('dob')?.touched">
        <span
          *ngIf="contactForm.get('dob')?.hasError('required')"
          class="text-danger error-label"
        >
          Campo <strong>requerido</strong>
        </span>
      </div>
    </div>
    <div class="col-md-6">
      <label for="passportNumber" class="form-label"
        >DNI/NIE/PASAPORTE <span>*</span>
      </label>
      <input
        type="text"
        id="passportNumber"
        class="form-control"
        formControlName="passportNumber"
      />
      <div *ngIf="contactForm.get('passportNumber')?.touched">
        <span
          *ngIf="contactForm.get('passportNumber')?.hasError('required')"
          class="text-danger error-label"
        >
          Campo <strong>requerido</strong>
        </span>
        <span
          *ngIf="contactForm.get('passportNumber')?.hasError('minlength')"
          class="text-danger error-label"
        >
          Este campo tiene que tener minimo <strong>8 digits</strong>
        </span>
      </div>
    </div>
    <div class="col-md-6">
      <label for="phoneNumber" class="form-label"
        >Teléfono <span>*</span>
      </label>
      <input
        type="tel"
        id="phoneNumber"
        class="form-control"
        formControlName="phoneNumber"
      />
      <div *ngIf="contactForm.get('phoneNumber')?.touched">
        <span
          *ngIf="contactForm.get('phoneNumber')?.hasError('required')"
          class="text-danger error-label"
        >
          Campo <strong>requerido</strong>
        </span>
        <span
          *ngIf="contactForm.get('phoneNumber')?.hasError('minlength')"
          class="text-danger error-label"
        >
          Este campo tiene que tener minimo <strong>9 digits</strong>
        </span>
      </div>
    </div>
    <div class="col-md-6">
      <label for="email" class="form-label">Email <span>*</span> </label>
      <input
        type="email"
        id="email"
        class="form-control"
        formControlName="email"
      />
      <div *ngIf="contactForm.get('email')?.touched">
        <span
          *ngIf="contactForm.get('email')?.hasError('required')"
          class="text-danger error-label"
        >
          Campo <strong>requerido</strong>
        </span>
        <span
          *ngIf="contactForm.get('email')?.hasError('email')"
          class="text-danger error-label"
        >
          Correo <strong>no valido</strong>
        </span>
      </div>
    </div>
    <div class="col-12">
      <label for="streetAddress" class="form-label"
        >Dirección <span>*</span>
      </label>
      <input
        type="text"
        id="streetAddress"
        class="form-control"
        formControlName="streetAddress"
      />
      <div *ngIf="contactForm.get('streetAddress')?.touched">
        <span
          *ngIf="contactForm.get('streetAddress')?.hasError('required')"
          class="text-danger error-label"
        >
          Campo <strong>requerido</strong>
        </span>
        <span
          *ngIf="contactForm.get('streetAddress')?.hasError('minlength')"
          class="text-danger error-label"
        >
          Este campo tiene que tener minimo <strong>9 digits</strong>
        </span>
      </div>
    </div>
    <div class="col-md-6">
      <label for="postCode" class="form-label"
        >Código Postal <span>*</span>
      </label>
      <input
        type="text"
        id="postCode"
        class="form-control"
        formControlName="postCode"
      />
      <div *ngIf="contactForm.get('postCode')?.touched">
        <span
          *ngIf="contactForm.get('postCode')?.hasError('required')"
          class="text-danger error-label"
        >
          Campo <strong>requerido</strong>
        </span>
        <span
          *ngIf="contactForm.get('postCode')?.hasError('minlength')"
          class="text-danger error-label"
        >
          Este campo tiene que tener minimo <strong>5 digits</strong>
        </span>
      </div>
    </div>
    <div class="col-md-6">
      <label for="city" class="form-label">Localidad <span>*</span> </label>
      <input
        type="text"
        id="city"
        class="form-control"
        formControlName="city"
      />
      <div *ngIf="contactForm.get('city')?.touched">
        <span
          *ngIf="contactForm.get('city')?.hasError('required')"
          class="text-danger error-label"
        >
          Campo <strong>requerido</strong>
        </span>
        <span
          *ngIf="contactForm.get('city')?.hasError('minlength')"
          class="text-danger error-label"
        >
          Este campo tiene que tener minimo <strong>5 digits</strong>
        </span>
      </div>
    </div>

    <div class="col-md-6">
      <label for="rates" class="form-label">Tarifas <span>*</span></label>
      <select id="rates" class="form-control" formControlName="rates">
        <option value="" disabled>Seleccionar Tarifa</option>
        <option value="Bronze">Bronze 54€ al mes 5 clases + 2 Open box</option>
        <option value="Silver">Silver 66€ al mes 9 clases + 4 Open Box</option>
        <option value="Gold">Gold 82€ al mes 13 clases + 6 Open Box</option>
        <option value="Platinum">
          Platinum 96€ al mes 17 clases + 8 Open Box
        </option>
        <option value="Diamond">
          Diamond 104€ al mes clases y open box ilimitado
        </option>
        <option value="Bono110">Bono 110€ 10 clases / Open Box</option>
        <option value="Bono65">Bono 65€ 5 clases / Open Box</option>
        <option value="Dropin16">Drop in 16€ por sesión 1 Clase</option>
        <option value="Dropin12">Drop in 12€ por sesión 1 Open Box</option>
        <option value="kids">Kids 40€</option>
      </select>
      <div *ngIf="contactForm.get('rates')?.touched">
        <span
          *ngIf="contactForm.get('rates')?.hasError('required')"
          class="text-danger error-label"
        >
          Campo <strong>requerido</strong>
        </span>
      </div>
    </div>
    <a
      href="path_to_your_cv_file/tsCsfilename.pdf"
      download="terminosycondiciones.pdf"
      >Leer Términos y condiciones</a
    >

    <div class="col-12">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="termsAccepted"
          formControlName="termsAccepted"
        />
        <label class="form-check-label" for="termsAccepted">
          He leído y acepto las condiciones generales del contrato.
          <span>*</span>
        </label>
        <div *ngIf="contactForm.get('termsAccepted')?.touched">
          <span
            *ngIf="contactForm.get('termsAccepted')?.hasError('required')"
            class="text-danger error-label"
          >
            Campo <strong>requerido</strong>
          </span>
        </div>
      </div>
    </div>
    <div class="col-12">
      <button
        type="submit"
        [disabled]="!contactForm.valid"
        class="btn btn-outline-light btn-lg"
      >
        Enviar
      </button>
    </div>
  </form>
</div>
<app-footer></app-footer>
