<div class="container">
  <h2 class="text-center text-white m-5">Nuestras clases</h2>
  <swiper [config]="config">
    <ng-template swiperSlide *ngFor="let slide of slides">
      <a class="slide-container">
        <div class="title-container">
          <span class="vertical-title">{{ slide.title }}</span>
        </div>
        <a [routerLink]="['/clases']" routerLinkActive="router-link-active"
          ><img [src]="slide.image" alt="foto" class="img-slide"
        />
        <div class="hover-text">Obtener más información</div> </a>
      </a>
    </ng-template>
  </swiper>
</div>
