<app-header></app-header>

<div class="container my-5 text-white">
  <h2 class="mb-3 text-danger text-center">
    Descubre nuestras Clases de CrossFit
  </h2>

  <!-- Section 1: Introduction to CrossFit Classes -->
  <div class="row g-4 align-items-center mt-5">
    <div class="col-lg-6">
      <h3 class="mb-3 text-danger">Crossift</h3>
      <p class="lead">
        Sumérgete en el núcleo de la fuerza y el fitness con nuestra clase
        insignia de CrossFit. Aquí, desafiamos cada músculo con WODs (Workout of
        the Day) que fusionan levantamiento, cardio y gimnasia. Perfecto para
        quienes buscan transformarse completamente en un ambiente dinámico y
        motivador.
      </p>
    </div>
    <div class="col-lg-6">
      <img
        src="/assets/images/felipe.jpg"
        alt="clase de VNG CrossFit"
        class="img-fluid shadow rounded"
      />
    </div>
  </div>

  <!-- Section 2: Class Details -->
  <div class="row g-4 align-items-center mt-5">
    <div class="col-lg-6 order-lg-2">
      <h3 class="mb-3 text-danger">Clases Variadas Durante la Semana</h3>
      <p>
        Ofrecemos una amplia variedad de clases que cubren diferentes aspectos
        del fitness: desde levantamiento de pesas hasta ejercicios de alta
        intensidad. Nuestro horario es flexible, con clases disponibles a lo
        largo del día.
      </p>
    </div>
    <div class="col-lg-6 order-lg-1">
      <img
        src="/assets/images/felipe.jpg"
        alt="CrossFit Schedule"
        class="img-fluid shadow rounded"
      />
    </div>
  </div>
</div>
<app-footer></app-footer>
