<app-header></app-header>

<h2 class="mb-3 text-center">Descubre nuestras Clases de CrossFit</h2>

<div class="container my-5 text-white">
  <div
    *ngFor="let section of sections; let i = index"
    class="row g-4 align-items-center mt-5"
  >
    <!-- Conditionally switch order based on odd/even index -->
    <div [ngClass]="i % 2 === 0 ? 'col-lg-6' : 'col-lg-6 order-lg-2'">
      <h3 class="mb-3">{{ section.title }}</h3>
      <p class="info">{{ section.description }}</p>
    </div>
    <div [ngClass]="i % 2 === 0 ? 'col-lg-6' : 'col-lg-6 order-lg-1'">
      <img
        [src]="section.image"
        [alt]="section.imageAlt"
        class="img-fluid shadow rounded"
      />
    </div>
  </div>
</div>

<app-footer></app-footer>
