/* leaflet */
@import url("https://unpkg.com/leaflet@1.9.4/dist/leaflet.css");
/* swiper */
@import "swiper/scss";
@import "swiper/scss/navigation";
@import "swiper/scss/pagination";

/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"); /* .leaflet-popup-content-wrapper, .leaflet-popup-tip {

} */

:root {
  --primary-color: #000;
  --secondary-color: #b11f2a;
  --white: #ffffff;
}



app-root {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}


.whatsapp-icon {
  position: fixed;
  right: 20px;
  bottom: 40px;
  background-color: #25D366;
  font-size: 40px;
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  z-index: 500;

  &:hover {
    background-color: #05dc05;
  }

  a {
    color: #fff;
  }
}
