img {
  border-radius: var(--bs-border-radius) !important;
  width: 100% !important;
  display: block !important;
  object-fit: cover;
  padding: 0px;
}

.img-slide {
  width: 200px;
  height: 500px;
  object-fit: cover;
}

.title-container {
  position: absolute;
  bottom: 0;
  right: 0;
  color: red;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  padding: 5px;
  font-size: 35px;
  font-weight: 600
}

.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFF;
  font-size: 24px;
  opacity: 0;
  transition: opacity 0.5s ease;
  text-align: center;
  width: 100%; /* Ensures text is centered properly */
}

/* Hover effects */
.slide-container:hover .img-slide {
  opacity: 0.3; /* Fade the image */
}

.slide-container:hover .hover-text {
  opacity: 1; /* Show the text */
}


@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.title-container {
  animation: slideInRight 0.8s forwards;
}
