<div id="cardSwiper" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-flex justify-content-around">
        <div class="card " style="width: 18rem">
          <img
            src="/assets/images/felipe.jpg"
            class="card-img-top"
            alt="Image description"
          />
          <div class="card-body">
            <h5 class="card-title">Card title 1</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div><div class="card " style="width: 18rem">
          <img
            src="/assets/images/felipe.jpg"
            class="card-img-top"
            alt="Image description"
          />
          <div class="card-body">
            <h5 class="card-title">Card title 1</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div><div class="card " style="width: 18rem">
          <img
            src="/assets/images/felipe.jpg"
            class="card-img-top"
            alt="Image description"
          />
          <div class="card-body">
            <h5 class="card-title">Card title 1</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
        <div class="card " style="width: 18rem">
          <img
            src="/assets/images/felipe.jpg"
            class="card-img-top"
            alt="Image description"
          />
          <div class="card-body">
            <h5 class="card-title">Card title 2</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Repeat carousel-item blocks for more swipes if needed -->
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#cardSwiper"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#cardSwiper"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
