img {
  border-radius: var(--bs-border-radius) !important;
  width: 100% !important;
  display: block !important;
  object-fit: cover;
  padding: 0px;
}

.img-slide {
  width: 200px;
  height: 500px;
  object-fit: cover;
}

.title-container {
  position: absolute;
  bottom: 0;
  right: 0;
  color: red;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  padding: 5px;
  font-size: 50px;
  font-weight: 700;
}
