

img {
  border-radius: var(--bs-border-radius) !important;
  width: 100% !important;
  display: block !important;
  object-fit: cover;
  padding: 0px;
}

.img-slide {
  width: 200px;
  height: 500px;
  object-fit: cover;
}
