<footer class="bg-dark text-center text-white mt-5">
  <div class="container p-4 d-flex justify-content-between align-items-center">
    <!-- Left image (logo) -->
    <img
      src="/assets/images/Logo Crossfit-VNG-2.webp"
      alt="logo crossfit VNG en vilanova y la geltru"
      class="logo-img"
    />

    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://www.facebook.com/profile.php?id=100070025628431"
        target="_blank"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://www.instagram.com/crossfitvng/?hl=es"
        target="_blank"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- YouTube -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://www.youtube.com/@crossfitvng"
        target="_blank"
        role="button"
        ><i class="fa-brands fa-youtube"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Right image -->
    <a href="https://journal.crossfit.com/" target="_blank">
      <img
        src="/assets/black-300x150.png"
        alt="crossfit journal image"
        class="logo-img-right"
    /></a>
  </div>

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2024 Crossfit VNG
  </div>
</footer>
