<footer class="bg-dark text-white py-4">
  <div class="container">
    <div class="row align-items-center text-center text-md-start">
      <!-- Copyright Section -->
      <div class="col-md-4 mb-3 mb-md-0">
        <p class="mb-0">&copy; 2024 Crossfit VNG</p>
      </div>
      <!-- Image Section -->
      <div class="col-md-4 mb-3 mb-md-0 text-center">
        <a
          href="https://journal.crossfit.com/"
          target="_blank"
          rel="noopener noreferrer"
          ><img
            src="/assets/images/journal.jpg"
            alt="Crossfit Journal - Crossfit vilanova i la geltru"
            class="img-fluid"
            style="max-height: 50px"
        /></a>
      </div>
      <!-- Links Section -->
      <div class="col-md-4 text-center text-md-end">
        <a href="#" class="envelope me-3"
          ><i class="fa-regular fa-envelope icon-style"></i>
        </a>
        <a href="#" class="instagram"
          ><i class="fa-brands fa-instagram icon-style"></i
        ></a>
      </div>
    </div>
  </div>
</footer>
